#!/bin/bash

echo "Starting master {{ hbase_master }}"
ssh -t {{ hbase_master }} "sudo systemctl start hbase-master";
{% for regionserver in hbase_regionservers %}
echo "Starting regionserver {{ regionserver }}";
ssh -t {{ regionserver }} "sudo systemctl start hbase-regionserver";
{% endfor %}
