#!/bin/bash

{% for regionserver in regionservers %}
	echo "Stopping regionserver {{ regionserver }}";
	ssh -t {{ regionserver }} "sudo systemctl stop hbase-regionserver";
{% endfor %}
echo "Stopping master {{ master }}"
ssh -t {{ master }} "sudo systemctl stop hbase-master";
