#!/bin/bash

echo "Starting namenode {{ hadoop_namenode }}"
ssh -t {{ hadoop_namenode }} "sudo systemctl start hdfs-namenode";
echo "Starting secondarynamenode {{ hadoop_namenode }}"
ssh -t {{ hadoop_namenode }} "sudo systemctl start hdfs-secondarynamenode";
{% for datanode in hadoop_datanodes %}
echo "Starting datanode {{ datanode }}";
ssh -t {{ datanode }} "sudo systemctl start hdfs-datanode";
{% endfor %}
