#!/bin/bash

{% for datanode in hadoop_datanodes %}
echo "Stopping datanode {{ datanode }}";
ssh -t {{ datanode }} "sudo systemctl stop hdfs-datanode";
{% endfor %}
echo "Stopping secondarynamenode {{ hadoop_namenode }}"
ssh -t {{ hadoop_namenode }} "sudo systemctl stop hdfs-secondarynamenode";
echo "Stopping namenode {{ hadoop_namenode }}"
ssh -t {{ hadoop_namenode }} "sudo systemctl stop hdfs-namenode";
