#!/bin/bash

echo "Starting namenode {{ hadoop_namenode }}"
ssh -t {{ hadoop_namenode }} "sudo service hadoop-hdfs-namenode start";
echo "Starting secondarynamenode {{ hadoop_namenode }}"
ssh -t {{ hadoop_namenode }} "sudo service hadoop-hdfs-secondarynamenode start";
{% for datanode in hadoop_datanodes %}
echo "Starting datanode {{ datanode }}";
ssh -t {{ datanode }} "sudo service hadoop-hdfs-datanode start";
{% endfor %}
