#!/bin/bash

echo "Stopping hive server"
ssh -t {{ hive_server }} "sudo service hive-server2 stop";
echo "Stopping webhcat"
ssh -t {{ hive_server }} "sudo service hive-webhcat-server stop";
echo "Stopping hcatalog"
ssh -t {{ hive_server }} "sudo service hive-hcatalog-server stop";
