#!/bin/bash

echo "Starting hcatalog"
ssh -t {{ hive_server }} "sudo service hive-hcatalog-server start";
echo "Starting webhcat"
ssh -t {{ hive_server }} "sudo service hive-webhcat-server start";
echo "Starting hive server"
ssh -t {{ hive_server }} "sudo service hive-server2 start";
