#!/bin/bash

echo "Stopping mrhistoryserver {{ hadoop_namenode }}"
ssh -t {{ hadoop_namenode }} "sudo service hadoop-mapreduce-historyserver stop";
{% for datanode in hadoop_datanodes %}
echo "Stopping nodemanager {{ datanode }}";
ssh -t {{ datanode }} "sudo service hadoop-yarn-nodemanager stop";
{% endfor %}
echo "Stopping resourcemanager {{ hadoop_namenode }}"
ssh -t {{ hadoop_namenode }} "sudo service hadoop-yarn-resourcemanager stop";
