#!/bin/bash

echo "Starting resourcemanager {{ namenode }}"
ssh -t {{ namenode }} "sudo systemctl start yarn-resourcemanager";
{% for datanode in datanodes %}
	echo "Starting nodemanager {{ datanode }}";
	ssh -t {{ datanode }} "sudo systemctl start yarn-nodemanager";
{% endfor %}
echo "Starting mrhistoryserver {{ namenode }}"
ssh -t {{ namenode }} "sudo systemctl start yarn-mrhistoryserver";
