#!/bin/bash

echo "Starting resourcemanager {{ hadoop_namenode }}"
ssh -t {{ hadoop_namenode }} "sudo service hadoop-yarn-resourcemanager start";
{% for datanode in hadoop_datanodes %}
echo "Starting nodemanager {{ datanode }}";
ssh -t {{ datanode }} "sudo service hadoop-yarn-nodemanager start";
{% endfor %}
echo "Starting mrhistoryserver {{ hadoop_namenode }}"
ssh -t {{ hadoop_namenode }} "sudo service hadoop-mapreduce-historyserver start";
